.videos-main {
  display: flex; }

.video-card {
  margin: 1.5vh 0%;
  display: flex;
  padding: 2px 38px;
  height: 15vh; }
  .video-card img {
    height: 14vh;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 3px #ccc;
    box-shadow: 1px 2px 3px #ccc; }
  .video-card :hover {
    cursor: pointer; }

.video-card:hover {
  background-color: #d3d3d33b; }

.selectedVideo {
  width: 70%;
  padding-top: 6%;
  text-align: center; }
  .selectedVideo h1 {
    margin: 0px 120px 28px;
    font-size: 3em;
    color: black;
    text-align: left; }

.title-box {
  width: 30%;
  padding: 1vh;
  overflow: hidden; }
  .title-box h4 {
    font-size: 15px; }

iframe {
  height: 55vh;
  width: 80%; }

.videosidebar {
  padding-top: 7.4vh;
  width: 30%;
  height: 99vh;
  background-color: white;
  overflow: scroll;
  -webkit-box-shadow: 1px 4px 11px lightgrey;
  box-shadow: 1px 4px 11px lightgrey; }

.video-description {
  text-align: left;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 2vh auto;
  background-color: #a9a9a91c;
  padding: 4vh;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px #d3d3d394; }
  .video-description h3 {
    font-size: 30px;
    color: black; }
  .video-description .icons {
    display: flex;
    width: 25%; }
  .video-description .icon-vid {
    font-size: 4vh;
    margin: 0 1vh; }

.video-menu {
  display: flex;
  width: 100%;
  height: 5.5vh;
  padding: 1vh 0 1vh 5%;
  box-sizing: border-box;
  text-align: center;
  background-color: #232b37;
  box-shadow: 3px 3px 5px lightgrey;
  position: fixed; }
  .video-menu input {
    font-size: 1.5vh;
    border: 1px solid #dcdcdc;
    margin: auto;
    width: 30%;
    margin-left: 0vh;
    background-color: #ffffff;
    padding: 0.8vh;
    font-family: 'Roboto', sans-serif; }
    .video-menu input .location ::placeholder {
      color: white; }
