.videos-main {
  display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    overflow-x: scroll;
    margin: 2vh auto;
}

.video-card {
  margin: 0 1vh;
}