.sidebar {
  width: 24%;
  height: 99vh;
  background-color: white;
  overflow: scroll;
  box-shadow: 1px 4px 11px lightgrey; }

.entertainment {
  width: 100%;
  height: 100vh; }

.navBar-entert {
  display: flex; }

.videos {
  width: 100%;
  margin-left: 11vw; }
