.signin-form {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 30px 35px; }
  .signin-form button {
    background-color: #232b37; }
  .signin-form h3 {
    color: #232b37;
    font-size: 27px;
    font-weight: 500; }

.policy {
  margin-top: 30px; }
  .policy p {
    font-size: 11px; }

.success {
  font-size: 14px;
  color: #740d55; }
