.signin {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 30px 35px; }
  .signin button {
    background-color: #232b37; }
  .signin h3 {
    color: #232b37;
    font-size: 27px;
    font-weight: 500; }

.policy {
  margin-top: 30px; }
  .policy p {
    font-size: 11px; }

.website {
  box-shadow: -1px 1px 13px lavenderblush;
  background-image: url("http://www.marinecitydancecompany.com//Cut%20out%20images/RED%20Jump%20cropped.png");
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 45vw;
  margin: 0% 240px 0;
  background-repeat: no-repeat; }

.success {
  font-size: 14px;
  color: #15a315; }

.incorrect {
  font-size: 14px;
  color: red; }
