.forms {
  width: 30%;
  margin-left: 55%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  position: relative;

  button, input{
    display:block;
    border: .5px solid lightgrey;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0px;
    margin-top: 20px;
    outline: 0;
    overflow: hidden;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
    background-color: #fafafa;
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    font-size: 15px;
  }

  h1{
    color: #232b37;
    font-size: 50px;
    font-family: 'Kalam', cursive;
    text-shadow: 1px 1px 1px #100b0b;
  }

  button {
    background-color: #b62d4d;
    color: white;
    height: 50px;
    
  }
}

.signup-box {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 30px 35px;
}

.form {

}

.email

.password {}

.city {

}

.signup {

}

.email-si {

}

.signin{
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 30px 35px;
} 

.password-si{}

.si-su {
  height: 1000px;
  overflow-y: hidden;
  background-color: #d3d3d347;
}

.policy {
  margin-top: 30px
}

.website {
  box-shadow: -1px 1px 13px lavenderblush;
  background-image: url('http://www.marinecitydancecompany.com//Cut%20out%20images/RED%20Jump%20cropped.png');
  background-size: cover;
  position: absolute;
  height: 900px;
  width: 45vw;
  margin: 4% 240px 0;
  background-repeat: no-repeat;
}