.main-banner {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px auto 50px;
  width: 100%;
  background-position-y: -100px;
  height: 450px;
  background-image: url('https://2.bp.blogspot.com/-yE3M4nNXZ58/WMbInF32VBI/AAAAAAAACeA/uiXXIXrIvbYPD4CaaGC6tGDR7eWPtdTlgCLcB/s1600/Dido%2Bimage%2Bfor%2BFB.jpg')
}

.box2 {
  border-radius: 3px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.05);
  border-image: initial;
}

  .content-e{
    text-align: right;
  }

.event-b{
  font-size: 17px;
}

.suggEvent-cards {
  width: 20%;
  margin: 20.3px;
  height: 150px;
  overflow-y: hidden;
  height: 350px;
  border-radius: 5%;

  img {
    width: 100%;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 20.3px;
    margin: 10.5px auto;
    color: purple;
    letter-spacing: 0.5px;
  }

  p {
    letter-spacing: .3px;
    font-family: 'Lato', sans-serif;
    font-weight: inherit;
    color: dimgrey;
    
  }
}

.cards-container {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.description {
  margin-top: 10px;
  overflow-y: hidden;
}

.black-bgn {
  width: 80%;
  height: inherit;
  background-color: #00000045;
  position: absolute;
  z-index: 2;
}

.main-banner-text{
  z-index: 4;
  margin: 90px;
  width: 40%;
  padding: 50px;
  color: white !important;
  background-color: #0000008a;

  h1 {
    font-size: 50px;
    margin: 10px
  }

  h2 {
    font-size: 40px    
  }
}

.content-e img{
  max-height: 100px;
}

.events-small-box {
  height: 95px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  border-radius: 5px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  cursor: pointer;

  img {
    height: 100%;
    margin-right: 10.7px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 3px #ccc;
    box-shadow: 1px 2px 3px #ccc;
  }

  h4 {
    font-size: 14px;
    margin-left: 12px;
    margin: 0;
  }
}

.events-small-box:hover{
  background-color: #d3d3d33b  
}

.main-events {
  height: 300px;
  overflow-y: scroll;
}
