.selected-event {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  position: relative;
  height: 250px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 3px lightgrey;
  box-shadow: 0px 0px 3px lightgrey;
  background-image: url(https://i.pinimg.com/originals/80/68/6a/80686a60f0db8ac844b633a5c2c12733.jpg); }

.event-desc {
  background-color: rgba(0, 0, 0, 0.87);
  position: absolute;
  bottom: 20px;
  padding: 23px;
  border-radius: 3px;
  width: 60%;
  height: 185px; }
  .event-desc h1 {
    font-size: 23px;
    color: #d4c9cc;
    text-shadow: 1px 1px 1px black; }

.flex {
  display: flex; }

.event-description {
  padding: 0 10px;
  margin: 11px auto;
  height: 50px;
  overflow: scroll; }
  .event-description p {
    font-size: 13px;
    line-height: 1.5;
    color: white; }
