.selected-event {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  position: relative;
  height: 320px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 3px lightgrey;
  box-shadow: 0px 0px 3px lightgrey;
  background-image: url(http://www.semo.edu/images/dance-modernBanner.jpg); }

.event-desc {
  background-color: rgba(0, 0, 0, 0.74);
  position: absolute;
  bottom: 20px;
  padding: 23px;
  border-radius: 3px;
  width: 60%; }
  .event-desc h1 {
    color: #b62d4c;
    text-shadow: 1px 1px 1px black; }

.flex {
  display: flex; }

.event-description {
  padding: 0 10px;
  margin: 11px auto;
  height: 100px;
  overflow: scroll; }
  .event-description p {
    color: white; }
