.App {
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, a, li, p {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  font-weight: unset;
  color: gray;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 27px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #b62d4e;
}

.loading{
  width: 100%;
  height: 100%;
  padding: 20%;

  h1 {
    color: #b62d4e;
  }
}
