.App {
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, a, li, p {
  font-family: r;
  margin: auto;
  font-weight: unset;
  color: gray;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 27px;
  display: inline-block;
  line-height: 2;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #b62d4e;
}

.loading{
  width: 100%;
  height: 100%;
  padding: 20%;
  font-size: 20px;

  h1 {
    color: #b62d4e;
  }
}


@media only screen and (max-width: 760px) {
  .userInfo {
    margin-bottom: 10px;
    height: 100px !important;
    margin: auto !important;
    text-align: center !important;
    width: 100px !important;
    border-radius: 50%;
  }

  .location-form{
    width: 60% !important;
    margin-left:0px !important;
    position: absolute;
    width: 60%
  }

  .signin, .txt {
    font-size: 0px
  }

  .main {
    height: -webkit-fill-available !important;
    padding: 10px !important;
  }

  .featured {
    text-align: center
  }

  .vides-main{
    display: block;
  }

  .selected-video{
    width: 100%
  }

  .entertainment {
    overflow-y: scroll;
    height: -webkit-fill-available;
  }

  .video-card {
    margin: 18px auto;
  }

.forms {
  width: 90% !important;
  padding: 40px 0 !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  text-align: center !important;
  position: relative !important;
  margin-top: 40px !important;
  margin: auto !important;
}

.website{
  display: none;
}


}