.studio-small-box {
  width: 20vw;
  height: 11vh;
  display: flex;
  margin-right: 5vh;
  box-sizing: border-box; }
  .studio-small-box h3 {
    font-size: 2.5vh; }

.event-small-box {
  width: 20vw;
  height: 11vh;
  display: flex; }
  .event-small-box h3 {
    font-size: 2.5vh; }

.suggestions-menu {
  display: flex;
  width: 53%;
  margin: 4vh auto;
  justify-content: space-between;
  background-color: #dcdcdc57; }

.studio-btn {
  background-size: cover;
  background-image: url("./../../../assets/studio.png");
  height: 100%;
  width: 60%; }

.events-btn {
  background-size: cover;
  background-image: url("./../../../assets/event.png");
  height: 100%;
  width: 60%; }

.box {
  background-color: #fffffffc;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-image: initial;
  border-radius: 3px;
  padding: 0px;
  overflow: hidden; }
