$flex : flex;
$shadow: -2px -2px 3px lightgrey;

.suggestions-menu {
  display: flex;
  width: 53%;
  margin: 4vh auto;
  justify-content: space-between;
  background-color: #dcdcdc57;
}


.box {
  background-color: #fffffffc;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-image: initial;
  border-radius: 3px;
  padding: 0px;
  overflow: hidden;
}

.news-feed {
  width: 100%;
  height: 78vh;
  display: flex;
  background-color: #8080801f;
}

.side-container {
  width: 25%;
  
}

.forum {
  width: 100%;
  height: 76vh;
  margin: 0 18px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 5px lightgrey;
  box-shadow: 0px 2px 8px lightgrey;
}

.events-small {
  overflow-x: hidden;
  height: 35vh;
  overflow: scroll;
  padding: 0vh 2vh;
  background-color: white;
  margin: 1.3vh 1.3vh 1.3vh 0;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px lightgrey;

  h3{
    color:#232b37;
  }
}

.titleFix {
  padding: 1.4vh;
  margin: 1vh 1.23vh 1.23vh 0;
  height: 5vh;
  background-color: #232b37;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  h3 {
    color: white;
  }
}


.studios-small {
  overflow-x: hidden;
  background-color: white;  
  margin: 1.3vh 1.3vh 1.3vh 0;
  height: 26vh;
  padding: 0 2vh;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px lightgrey;

  h3{
    color:#232b37;
  }
}

.videos-small {
  background-color: #ffffff;
  overflow-x: scroll;
  width: 90%;
  margin-left: 10%;
  -webkit-box-shadow: 3px 3px 5px lightgrey;
  box-shadow: 2px 0px 8px lightgrey;     
}

.location {
  display: flex;
  width: 100%;
  height: 7vh;
  padding: 1vh 0 1vh 5%;
  box-sizing: border-box;
  text-align: center;
  background-color: #232b37;
  box-shadow: 3px 3px 5px lightgrey;

  input {
    font-size: 2vh;
    border: 1px solid #dcdcdc;
    margin: auto;
    padding: 0.7vh;
    width: 30%;
    margin-left: 0vh;
    font-family: 'Poiret One', cursive;
    background-color: #922e48;

    ::placeholder {
      color: white;
    }
}

a {
  color: rgb(255, 255, 255);
}

a:hover {
  color: black;
  cursor: pointer;
  background-color: transparent;
}
}

.active {
  border-bottom:2px solid pink;
}

.navBar-forum {
  width: 75%;
  display: flex;
}

.btns{
  justify-content: center;
    display: -ms-flexbox;
    display: flex;
    margin-right: 2vh;
    width: 30%;
}