.signup-box {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 30px 35px;

  h3{
    color:#232b37;
    font-size: 27px
  }
}

.created{
  color: #8b0f4d;
  font-size: 14px;
  margin-top: 12px;
}