.navBar {
  -webkit-box-shadow: 2px 2px 2px #70809094;
  box-shadow: 1px -3px 1px #d8d8d894;
  height: 100vh;
  width: 17vw;
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #222b37;
  z-index: 10;
}

.active {
  border-bottom: #cc1292
}

.logo {
  font-weight: 1000;
  -ms-flex: 20 1;
  flex: 20 1;
  font-size: 6vh;
  color: #ffffff;
  font-family: 'Poiret One', cursive;
  text-shadow: 2px 2px 2px #000000;
}

.menu {
  margin: auto;
  flex: 15 1;
  line-height: 8vh;
}

a {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 2.1vh;
  letter-spacing: 1px;
  margin-left:2vh; 
}

.li:hover {
  background-color: palevioletred;
  color: white;
}

.logo-box{
  text-align: center;
  padding-top: 2vh;
  margin-bottom: 3vh;
}

.li {
  width: 80%;
  display: flex;
  margin: auto;
}