.navBar {
  height: 10vh;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 5vh;
}

.active {
  border-bottom: #cc1292
}

.logo {
  flex: 20;
  font-size: 6vh;
  color: palevioletred;
}

.menu {
  flex: 15;
  line-height: 10vh;
  text-align: center;
}

a {
  text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 5vh;
    padding: 2vh;
    font-size: 2.7vh;
    letter-spacing: 1px;
}

a:hover {
  background-color: palevioletred;
  color: white;
}

.logo {
  font-family: 'Poiret One', cursive;  
}