.post-container {
  width: 100%;
  height: 350px;
  overflow-y: scroll; }

.post-container:hover {
  overflow-y: scroll; }

.post {
  width: 90%;
  background-color: #ffffff;
  margin: auto;
  height: auto;
  margin: 20px auto;
  box-shadow: 0px 1px 2px lightgrey;
  padding: 10.5px;
  box-sizing: border-box;
  display: flex;
  cursor: pointer; }

button:disabled {
  background-color: #b4b4b4;
  cursor: default;
  border-bottom: none; }

.post:hover {
  background-color: #d3d3d33b; }

.post-img {
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 3px #ccc;
  box-shadow: 1px 2px 3px #ccc;
  width: 20%;
  height: 100%;
  background-image: url("../../../assets/event.png");
  background-size: cover; }
  .post-img img {
    width: 100%;
    height: 100%; }

.post-description {
  padding: 10px;
  width: 80%;
  box-sizing: border-box; }
  .post-description h3 {
    font-size: 17px;
    margin: 10px;
    margin: 10px;
    color: #b62d4c; }

.text-description {
  margin: 0 10px 15px;
  font-size: 18 px;
  overflow-y: scroll;
  height: 60px; }
  .text-description p {
    letter-spacing: .35px;
    line-height: 1.2; }

.likes {
  display: flex;
  margin-top: -20px;
  float: right; }
  .likes h3 {
    margin-right: 25px; }

.icon {
  line-height: 0;
  margin: 20px; }

.post-area {
  margin: 14px 25px;
  border-radius: 2px; }

.post-menu {
  background: #F3F3F3;
  display: flex;
  margin: 0 0px -9px 0px;
  text-align: right;
  color: #C0C0C0;
  font-size: 11px;
  box-sizing: border-box; }
  .post-menu li {
    cursor: pointer;
    text-align: center;
    list-style: none;
    outline: none;
    border: none;
    border-left: 1px solid lightgrey;
    width: 20%;
    padding: 6px;
    font-size: 12px;
    background-color: #f3f3f3; }

.label {
  margin-top: -19px;
  display: block;
  float: left;
  background: #FFFFFF;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #B9B9B9;
  font-size: 14px; }

.post-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  line-height: 25px;
  font-size: 16px;
  padding: 11px 25px; }

.post-box::placeholder {
  font-size: 14px;
  color: #8f8d8d; }

.submit-post {
  cursor: pointer;
  outline: none;
  font-size: 14px;
  background: #b62d4c;
  border: none;
  padding: 8px 0px 8px 0px;
  border-bottom: 3px solid #b62d4c;
  border-radius: 3px;
  color: #ffffff;
  width: 100%; }

.post-cont {
  display: block;
  padding: 9px;
  border: 1px solid #DDDDDD;
  margin-bottom: 20px;
  border-radius: 3px; }
  .post-cont .material-icons {
    line-height: 1;
    margin-right: 7px;
    cursor: pointer; }
  .post-cont .inactiveIcon {
    display: none !important; }

.photoInput {
  float: left;
  padding: 8px;
  width: 80%;
  border: 1px solid gainsboro; }

.photoInput input {
  background-color: red; }

.videoInput {
  float: left;
  padding: 10px;
  width: 80%;
  border: 1px solid gainsboro; }

.videoInput::placeholder {
  font-family: r;
  font-size: 12px;
  color: #8f8d8d; }

.pic-vid {
  height: 30px;
  display: block;
  padding: 0px 25px;
  text-align: right; }

.cam {
  font-size: 23px; }
