.img-box {
  height: 140px;
  overflow: hidden;
  width: 12vw;
  border-radius: 5px;
  box-shadow: 1px 2px 3px #ccc;
}

.suggStudio-cards {
  width: 90%;
  cursor: pointer;
  margin: 20px;
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border-bottom: 1px solid #cccccc87;
  margin: 20px auto;

  .studio-img {
    width: 100%;
    height: auto;
  }

  h4 {
    font-size: 24px;
    color: black;
  }

  p{

  }

  .text-container {
    line-height: 2;
    padding: 0 50px;
    box-sizing: border-box;
    text-align: left;

    .material-icons{
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 20px;
      display: inline-block;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;
      color: #b62d4e;
      line-height: 50px;
    }
  }

  b{
    font-size: 30px;
    margin: -3px 10px;
  } 
}

.suggStudio-cards:hover{
  background-color: #d3d3d33b
 }

.studiocards-container{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.featured-studio-text {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 50px;
  padding: 35px;
  border-radius: 3px;

  h1,h2,p {
    color: #444;
  }

  h1{
    font-size: 40px;
    color: #222b37;
    text-transform: uppercase;
    font-weight: bold;
  }

  p {
    margin-top: 10px;
    font-size: 1.4rem;
  }


}

.selected-card {
  display: flex;
  width: 100%;
  position: relative;
}

.selected-studio-box {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  position: relative;
  height: 355px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0px 0px 3px lightgrey;
  background-image: url('http://www.semo.edu/images/dance-modernBanner.jpg') 
}

.studios {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
}

.description-container {
  display: flex
}

.main-info {
  display: flex;
  width: 80.5%;
}

.description {
  font-size: 20px;
  overflow-y: hidden;
  line-height: 2;
  color: #b62d4c;
  margin-top: 10px;

  p{
    color: #b62d4c;
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

.phone {
  color: pink
}

.b-description{
  width: 60%;
  background-color: black
}

.description-box {
  width: 300px;
  position: absolute;
  height: 1;
  padding: 20px 40px;
  bottom: 17px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 3px #eee;
  box-shadow: 1px 2px 3px #eee;
  margin-left: 20px;
  background: rgba(255, 255, 255, 1);

  h4 {
    font-size: 30px;
    color: black;
  }

  b {
    font-size: 30px;
    margin: 0 10px;
  }
}