.img-box {
  height: 15vh;
  width: 100%;
  padding: 2vh;
  overflow: hidden;
}

.suggStudio-cards {
  margin: 2vh;
  height: 30vh;
  width: 20%;
  text-align: center;
  
  .studio-img {
    width: inherit;
  }

  h4 {

  }

  p{

  }

  .text-container {
    line-height: 2;
  }
}

.studiocards-container{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;

}

.map {
    height: 100%;
    width: 100%;
}