.img-box {
  height: 15vh;
  overflow: hidden;
  width: 12vw; }

.suggStudio-cards {
  margin: 2vh;
  padding: 2vh;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-shadow: 3px 3px 5px lightgrey;
  box-shadow: 0px 0px 9px lightgrey; }
  .suggStudio-cards .studio-img {
    width: 100%;
    height: auto; }
  .suggStudio-cards h4 {
    font-size: 27px;
    color: black; }
  .suggStudio-cards .text-container {
    line-height: 2;
    padding: 0 5vh;
    box-sizing: border-box;
    text-align: left; }
  .suggStudio-cards b {
    font-size: 3vh; }

.studiocards-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto; }

.map {
  height: 100%;
  width: 100%; }

.studios {
  height: 46vh;
  overflow-y: scroll; }

.description-container {
  display: flex; }

.main-info {
  display: flex;
  width: 80.5%; }

.description {
  font-size: 2vh;
  margin-top: 1vh;
  overflow-y: hidden;
  line-height: 2;
  color: #b62d4c; }
  .description p {
    color: #b62d4c; }
