.img-box {
  height: 15vh;
  overflow: hidden;
  width: 12vw;
}

.suggStudio-cards {
  width: 90%;
  cursor: pointer;
  margin: 2vh;
  padding: 2vh;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-shadow: 3px 3px 5px lightgrey;
  box-shadow: 0px 0px 9px lightgrey;
  margin: 2vh auto;
  
  .studio-img {
    width: 100%;
    height: auto;
  }

  h4 {
    font-size: 24px;
    color: black;
  }

  p{

  }

  .text-container {
    line-height: 2;
    padding: 0 5vh;
    box-sizing: border-box;
    text-align: left;
  }

  b{
    font-size: 3vh;
    margin: -3px 1vh;
  } 
}

.studiocards-container{
  display: flex;
  flex-wrap: wrap;
}

.selected-studio {
  width: 100%;
  padding: 2vh 4vh;
  box-sizing: border-box;
  display: flex;
}

.studios {
  width: 100%;
  height: 46vh;
  overflow-y: scroll;
}

.description-container {
  display: flex
}

.main-info {
  display: flex;
  width: 80.5%;
}

.description {
  font-size: 2vh;
  margin-top: 1vh;
  overflow-y: hidden;
  line-height: 2;
  color: #b62d4c;

  p{
    color: #b62d4c;
  }
}

.b-description{
  width: 60%;
  background-color: black
}